body {
  margin: 0;
  padding: 0;
}

.button {
  width: 120px;
  background-color: rgb(130, 130, 247);
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#map {
  position: absolute;
  top: 12%;
  bottom: 6%;
  left: 10%;
  right: 6%;
  width: 80%;
  height: 80%;
}

.mapboxgl-popup {
  max-width: 300px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.markerall {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-top: 12px solid rgb(15, 100, 29);
  cursor: pointer;
}

.maxmarker {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-top: 12px solid red;
  cursor: pointer;
}

.avgmarker {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-top: 12px solid rgb(55, 235, 55);
  cursor: pointer;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  width: 2px;
}

#legend {
  float: right;
  position: relative;
  z-index: 1;
  height: auto;
  min-height: 520px;
  line-height: 12;
  width: 15px;
}

.legend-key {
  display: inline-block;
  width: 12px;
  height: 48px;
}

.transparentMarker {
  display: none;
}

.selected {
  background-color: rgb(208, 255, 0);
}
